.title{color: chocolate}
.facts{color:cadetblue;}
.questions{color: rgb(19, 160, 255)}
.end{color: rgb(50, 20, 50); font-size: 60%}
.i1{font-style:italic}
#anatomy{font-family: 'Times New Roman', Times, serif; font-style: italic;}
#link{font-size: 150%;}